<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CaptoneJS</title>


    <!-- font AWESMOE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   
   <link
     rel="stylesheet"
     href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap"
   />
   <link rel="stylesheet" href="./css/style.css" />
 </head>
  <body>
    <div class="header">
      <div class="login">Login</div>
      <div class="register">Register</div>
      <img class="image-3-icon" alt="" src="./img/image-3@2x.png" />

      <div class="header-inner">
        <div class="frame-wrapper">
          <div class="frame-wrapper"></div>
        </div>
      </div>
      <div class="component-1">
        <img class="image-8-icon" alt="" src="./img/image-8@2x.png" />

        <div class="div14">(1)</div>
      </div>
    </div>
    <div class="menu">
        <div class="home">Home</div>
        <div class="kid">Kid</div>
        <div class="sport">Sport</div>
        <div class="men">Men</div>
        <div class="woman">Woman</div>
        <img class="line-1-stroke" alt="" src="./img/line-1-stroke.svg" />
      </div>
      <div class="registercontent">
        <div class="register-heading">Register</div>
        <div class="textbox">
          <img class="line-2-stroke" alt="" src="./img/line-2-stroke.svg" />
  
          <div class="email">email</div>
          <div class="div">(*)</div>
        </div>
        <div class="textbox1">
          <img class="line-2-stroke" alt="" src="./img/line-2-stroke.svg" />
  
          <div class="email">phone</div>
          <div class="div">(*)</div>
        </div>
        <div class="gender">Gender</div>
        <div class="textbox2">
          <img class="line-2-stroke" alt="" src="./img/line-2-stroke.svg" />
  
          <div class="email">name</div>
          <div class="div">(*)</div>
        </div>
        <div class="textbox3">
          <img class="line-2-stroke" alt="" src="./img/line-2-stroke.svg" />
  
          <div class="email">password</div>
          <div class="div">(*)</div>
        </div>
        <div class="textbox31">
          <img class="line-2-stroke" alt="" src="./img/line-2-stroke.svg" />
  
          <div class="email">password confirm</div>
          <div class="div">(*)</div>
        </div>
        <div class="radio">
          <img class="radio-child" alt="" />
  
          <div class="radio-item"></div>
          <div class="radio-inner"></div>
          <div class="male">Male</div>
        </div>
        <div class="radio1">
          <img class="radio-child" alt="" />
  
          <div class="radio-item"></div>
          <div class="radio-child1"></div>
          <div class="male">Female</div>
        </div>
        <div class="button-icon-gradient">
          <div class="button-icon-gradient-child"></div>
          <div class="div5">Submit</div>
        </div>
      </div> 
      
      
      <div class="footer">
       
  
       
        <div class="menu"></div>
        <div class="menu-footer">
          <b class="get-help">
            <p class="cybersoft-all-rights">ORDERS</p>
            
          </b>
          <div class="home-nike-adidas-container">
            <p class="about">Payment options</p>
            <p class="about">Shipping and delivery</p>
            <p class="about">Returns</p>
            
          </div>
          <div class="menu-footer-child"></div>
        </div>
        <div class="menu-footer1">
          <b class="get-help">
            <p class="cybersoft-all-rights">GET HELP</p>
            
          </b>
          <div class="home-nike-adidas-container">
            <p class="about">Contact us</p>
            <p class="about">Shopping</p>
            <p class="about">NIKEiD</p>
            <p class="cybersoft-all-rights">Nike+</p>
          </div>
          <div class="menu-footer-child"></div>
        </div>
        <div class="menu-footer2">
          <b class="get-help">REGISTER</b>
          <div class="home-nike-adidas-container">
            <span>Create one account to manage everything you do with Nike</span>
            <p class="cybersoft-all-rights">Learn more</p>
          </div>
          <div class="menu-footer-inner"></div>
        </div>


        

        
      </div>  

      <div class="footer">
       
  
       
        <div class="menu"></div>
        <div class="menu-footer">
          <b class="get-help">
            <p class="cybersoft-all-rights">GIFT CARDS</p>
            
          </b>
          <div class="home-nike-adidas-container">
            <p class="about">Give the gift that always fits</p>
            <p class="about">View cards</p>
            
            
          </div>
          <div class="menu-footer-child"></div>
        </div>
        <div class="menu-footer1">
          <b class="get-help">
            <p class="cybersoft-all-rights">EMAIL SIGN UP</p>
            
          </b>
          <div class="home-nike-adidas-container">
            <p class="about">Be the first to know about new products and special offers</p>
            <p class="about">Sign up now</p>
            
          </div>
          <div class="menu-footer-child"></div>
        </div>
        <div class="menu-footer2">
          <b class="get-help">STORES NEAR YOU</b>
          <div class="home-nike-adidas-container">
            <span>Locate a Nike retail store or authorized retailer.</span>
            <p class="cybersoft-all-rights">Search</p>
          </div>
          <div class="menu-footer-inner"></div>
        </div>


        

        
      </div>  


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
