body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-5xl: 24px;
    --font-size-21xl: 40px;
    --font-size-11xl: 30px;
    --font-size-base: 16px;
  
    /* Colors */
    --color-snow-100: #fffcfc;
    --color-whitesmoke-100: #f8f8f8;
    --color-whitesmoke-200: #f6f6f6;
    --color-silver: #cbc9c9;
    --color-black: #000;
    --color-gainsboro-100: #dedddc;
    --color-gainsboro-200: rgba(217, 217, 217, 0);
    --color-sandybrown: #e1b067;
    --color-white: #fff;
    --color-honeydew: #edf9ee;
    --color-gray-100: #1e1d1d;
    --color-gray-200: rgba(0, 0, 0, 0.13);
    --color-lightgray: #ccc;
  }

  

  .login {
    top: 15px;
    left: 1103px;
    font-weight: 300;
    display: inline-block;
    width: 91px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000;
  }
  .image-3-icon,
  .login,
  .register {
    position: absolute;
    height: 32px;
  }
  .register {
    top: 15px;
    left: 1170px;
    font-weight: 300;
    display: inline-block;
    width: 90px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000;
  }
  .image-3-icon {
    top: 10px;
    left: 24px;
    width: 116px;
    object-fit: cover;
  }
  .frame-wrapper,
  .header-inner,
  .image-8-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 75px;
    overflow: hidden;
  }
  .header-inner,
  .image-8-icon {
    top: 50px;
  }
  .image-8-icon {
    height: 86.11%;
    width: 46.97%;
    top: 8.33%;
    right: 53.03%;
    bottom: 5.56%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .div22 {
    position: absolute;
    top: 0;
    left: 46.97%;
    font-weight: 300;
  }
  .component-1 {
    position: absolute;
    top: 7px;
    left: 1022px;
    width: 66px;
    height: 36px;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
  }
  .header {
    position: relative;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-whitesmoke-200);
    font-family: var(--font-inter);
  }
  


  .home,
.kid,
.men,
.sport,
.woman {
  position: absolute;
  top: 16px;
  left: 25px;
}
.kid,
.men,
.sport,
.woman {
  left: 292px;
  font-weight: 300;
}
.men,
.sport,
.woman {
  left: 363px;
}
.men,
.woman {
  left: 105px;
  opacity: 0.7;
}
.woman {
  left: 183px;
}
.line-1-stroke {
  position: absolute;
  top: 49.5px;
  left: 24px;
  width: 60px;
  height: 1px;
}
.menu {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}




.product-detail-child,
.product-detail-inner,
.product-detail-item {
  position: absolute;
  top: 397px;
  left: 597px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}
.product-detail-inner,
.product-detail-item {
  left: 667px;
}
.product-detail-inner {
  left: 635px;
}
.product-detail-child1 {
  position: absolute;
  top: -74px;
  left: 0;
  background-color: var(--color-white);
  width: 1280px;
  height: 50px;
  overflow: hidden;
}
.image-5-icon6 {
  position: absolute;
  top: 109px;
  left: 57px;
  width: 220px;
  height: 156px;
  object-fit: cover;
}
.div12 {
  position: absolute;
  top: 6px;
  left: 421px;
  font-weight: 200;
}
.image-5-parent3 {
  position: absolute;
  top: 58px;
  left: 65px;
  background-color: var(--color-whitesmoke-100);
  width: 334px;
  height: 355px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 112px;
  left: 527px;
  font-size: var(--font-size-base);
  color: #140101;
  display: inline-block;
  width: 503px;
  height: 90px;
}
.product-name {
  position: absolute;
  top: 67px;
  left: 527px;
  font-size: var(--font-size-11xl);
  font-weight: 300;
  color: var(--color-black);
}
.available-size1 {
  margin: 0;
}
.available-size,
.div13 {
  position: absolute;
  top: 202px;
  left: 527px;
  font-weight: 500;
  color: #1ed90e;
}
.div13 {
  top: 317px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: #fc0303;
  display: inline-block;
  width: 113px;
  height: 47px;
}
.product-detail-child2 {
  position: absolute;
  top: 427px;
  left: 527px;
  background: linear-gradient(-90deg, rgba(62, 32, 248, 0.9), #d017ee 74%);
  width: 175px;
  height: 64px;
}
.add-to-cart {
  position: absolute;
  top: 445px;
  left: 551px;
  font-weight: 500;
  color: #fff8f8;
  display: inline-block;
  width: 142px;
  height: 62px;
}
.button-icon-gradient-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #6181f3, #7c97f5 99.48%);
}
.div14 {
  position: absolute;
  height: 64%;
  width: 36%;
  top: 12%;
  left: 30%;
  display: inline-block;
}
.button-icon-gradient {
  top: 370px;
  left: 527px;
  width: 50px;
  height: 50px;
  color: var(--color-snow-100);
}
.button-icon-gradient,
.button-icon-gradient1,
.div16 {
  position: absolute;
  font-size: var(--font-size-11xl);
}
.button-icon-gradient1 {
  top: 370px;
  left: 636px;
  width: 50px;
  height: 50px;
  color: var(--color-snow-100);
}
.div16 {
  top: 377px;
  left: 597px;
  color: var(--color-black);
}
.button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightgray);
}
.div17 {
  position: absolute;
  top: 22%;
  left: 20%;
  font-weight: 600;
}
.button,
.button1,
.button2,
.button3,
.button4 {
  position: absolute;
  top: 250px;
  left: 526px;
  background-color: var(--color-honeydew);
  width: 50px;
  height: 50px;
}
.button1,
.button2,
.button3,
.button4 {
  left: 811px;
}
.button2,
.button3,
.button4 {
  left: 740px;
}
.button3,
.button4 {
  left: 669px;
}
.button4 {
  left: 597px;
}
.product-detail {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 530px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}



.realate-product- {
    position: absolute;
    top: 16px;
    left: 476px;
    font-size: var(--font-size-21xl);
  }
  .image-5-icon {
    position: absolute;
    top: 45px;
    left: 57px;
    width: 220px;
    height: 156px;
    object-fit: cover;
  }
  .div {
    position: absolute;
    top: 6px;
    left: 421px;
    font-size: var(--font-size-21xl);
    font-weight: 200;
  }
  .frame-child,
  .frame-item {
    position: absolute;
    top: 305px;
    left: 0;
    background-color: var(--color-sandybrown);
    width: 175px;
    height: 64px;
  }
  .frame-item {
    left: 174px;
    background-color: var(--color-gainsboro-100);
    width: 160px;
  }
  .buy-now,
  .div1 {
    position: absolute;
    top: 322px;
    left: 240px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
  }
  .buy-now {
    left: 39px;
    font-weight: 200;
    width: 109px;
  }
  .adidas-prophere,
  .short-descript {
    position: absolute;
    top: 231px;
    left: 23px;
    font-weight: 300;
  }
  .short-descript {
    top: 268px;
    font-size: var(--font-size-xl);
    color: var(--color-silver);
  }
  .frame-div,
  .image-5-container,
  .image-5-group,
  .image-5-parent,
  .image-5-parent1,
  .image-5-parent2 {
    position: absolute;
    top: 153px;
    left: 99px;
    background-color: var(--color-whitesmoke-100);
    width: 334px;
    height: 369px;
    overflow: hidden;
  }
  .frame-div,
  .image-5-container,
  .image-5-group,
  .image-5-parent1,
  .image-5-parent2 {
    left: 493px;
  }
  .frame-div,
  .image-5-container,
  .image-5-parent1,
  .image-5-parent2 {
    left: 914px;
  }
  .frame-div,
  .image-5-parent1,
  .image-5-parent2 {
    top: 569px;
    left: 99px;
  }
  .image-5-parent1,
  .image-5-parent2 {
    left: 493px;
  }
  .image-5-parent2 {
    left: 914px;
  }
  .relate-product {
    position: relative;
    background-color: var(--color-snow-100);
    width: 100%;
    height: 1044px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  


  .cybersoft-all-rights {
    margin: 0;
  }
  .cybersoft-all-rights-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .cybersoft-all-rights-container {
    position: absolute;
    top: 263px;
    left: 14px;
    display: flex;
    align-items: center;
    width: 1280px;
    height: 37px;
  }
  .get-help,
  .menu {
    position: absolute;
  }
  .menu {
    top: 0;
    left: 0;
    background-color: var(--on-primary-high-emphasis);
    width: 1320px;
    height: 226px;
  }
  .get-help {
    top: 28px;
    left: 13px;
    display: inline-block;
    width: 180px;
    height: 29px;
  }
  .about {
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  .home-nike-adidas-container {
    position: absolute;
    top: 63px;
    left: 56px;
    font-size: var(--font-size-base);
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 180px;
    height: 102px;
  }
  .menu-footer-child {
    position: absolute;
    top: 27.5px;
    left: 364.5px;
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1px;
    height: 168px;
  }
  .menu-footer,
  .menu-footer1 {
    position: absolute;
    top: 25px;
    left: 481px;
    background-color: var(--on-primary-high-emphasis);
    width: 443px;
    height: 175px;
    overflow: hidden;
  }
  .menu-footer1 {
    left: 105px;
    width: 414px;
  }
  .menu-footer-inner {
    position: absolute;
    top: 27.5px;
    left: 364.5px;
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1px;
    height: 168px;
    display: none;
  }
  .menu-footer2 {
    position: absolute;
    top: 25px;
    left: 895px;
    background-color: var(--on-primary-high-emphasis);
    width: 414px;
    height: 175px;
    overflow: hidden;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  