body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --button: Roboto;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --button-size: 14px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --on-primary-high-emphasis: #fff;
    --color-gainsboro-100: #dedddc;
    --color-black: #000;
    --red: #eb5757;
    --primary-500: #6200ee;
    --orange: #f2994a;
    --color-whitesmoke: #f6f6f6;
  
    /* Paddings */
    --padding-7xs: 6px;
    --padding-5xs: 8px;
    --padding-9xs: 4px;
  
    /* border radiuses */
    --br-9xs: 4px;
  
    /* Effects */
    --dp: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
      0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  

  .login1 {
    top: 15px;
    left: 1103px;
    font-weight: 300;
    display: inline-block;
    width: 91px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000;
  }
  .image-3-icon,
  .login1,
  .register1 {
    position: absolute;
    height: 32px;
  }
  .register1 {
    top: 15px;
    left: 1170px;
    font-weight: 300;
    display: inline-block;
    width: 90px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000;
  }
  .image-3-icon {
    top: 10px;
    left: 24px;
    width: 116px;
    object-fit: cover;
  }
  .frame-wrapper,
  .header-inner,
  .image-8-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 75px;
    overflow: hidden;
  }
  .header-inner,
  .image-8-icon {
    top: 50px;
  }
  .image-8-icon {
    height: 86.11%;
    width: 46.97%;
    top: 8.33%;
    right: 53.03%;
    bottom: 5.56%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .div4 {
    position: absolute;
    top: 0;
    left: 46.97%;
    font-weight: 300;
  }
  .component-1 {
    position: absolute;
    top: 7px;
    left: 1022px;
    width: 66px;
    height: 36px;
    font-size: var(--font-size-11xl);
    color: var(--on-primary-high-emphasis);
  }
  .search {
    position: absolute;
    top: 0;
    left: 27.94%;
    font-weight: 300;
  }
  .download-1-1 {
    position: absolute;
    height: 91.75%;
    width: 23.81%;
    top: 8.25%;
    right: 76.19%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .component-2 {
    position: absolute;
    top: 5px;
    left: 871px;
    width: 136px;
    height: 36.37px;
    font-size: var(--font-size-11xl);
    color: var(--on-primary-high-emphasis);
  }
  .header {
    position: relative;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-whitesmoke);
    font-family: var(--font-inter);
  }

  

  .home1,
.kid,
.men,
.sport,
.woman {
  position: absolute;
  top: 16px;
  left: 25px;
}
.kid,
.men,
.sport,
.woman {
  left: 292px;
  font-weight: 300;
}
.men,
.sport,
.woman {
  left: 363px;
}
.men,
.woman {
  left: 105px;
  opacity: 0.7;
}
.woman {
  left: 183px;
}
.line-1-stroke {
  position: absolute;
  top: 49.5px;
  left: 24px;
  width: 60px;
  height: 1px;
}
.menu1 {
  position: relative;
  background-color: var(--on-primary-high-emphasis);
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}


.carts-body-child {
    position: absolute;
    top: -74px;
    left: 0;
    background-color: var(--on-primary-high-emphasis);
    width: 1280px;
    height: 50px;
    overflow: hidden;
  }
  .carts {
    position: absolute;
    top: 49px;
    left: 69px;
  }
  .carts-body-item,
  .carts-child {
    position: absolute;
    top: 138px;
    left: 68px;
    width: 1212.01px;
    height: 8.92px;
  }
  .carts-child {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--on-primary-high-emphasis);
  }
  .div,
  .div1,
  .div2,
  .product-1 {
    position: absolute;
    height: 6.33%;
    width: 0.78%;
    top: 46.17%;
    left: 10.16%;
    display: inline-block;
  }
  .div1,
  .div2,
  .product-1 {
    width: 7.03%;
    left: 23.28%;
  }
  .div1,
  .div2 {
    width: 3.67%;
    top: 46.97%;
    left: 43.05%;
  }
  .div2 {
    top: 46.17%;
    left: 69.38%;
  }
  .carts-item {
    position: absolute;
    height: 17.68%;
    width: 92.27%;
    top: 17.94%;
    right: 3.83%;
    bottom: 64.38%;
    left: 3.91%;
    background-color: #d9d9d9;
  }
  .action,
  .id,
  .img,
  .name,
  .price,
  .quantity,
  .total {
    position: absolute;
    height: 6.33%;
    width: 1.41%;
    top: 23.75%;
    left: 10.23%;
    display: inline-block;
  }
  .action,
  .img,
  .name,
  .price,
  .quantity,
  .total {
    width: 6.09%;
    left: 55.94%;
  }
  .action,
  .img,
  .name,
  .price,
  .total {
    width: 3.36%;
    left: 69.69%;
  }
  .action,
  .img,
  .name,
  .price {
    width: 4.61%;
    left: 84.69%;
  }
  .img,
  .name,
  .price {
    width: 4.06%;
    left: 23.28%;
  }
  .img,
  .price {
    width: 3.75%;
    left: 43.05%;
  }
  .img {
    width: 2.73%;
    left: 16.09%;
  }
  .checkboxes1-selected1-enab,
  .checkboxes1-selected1-enab1 {
    position: absolute;
    height: 6.33%;
    width: 1.88%;
    top: 23.75%;
    right: 92.97%;
    bottom: 69.92%;
    left: 5.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .checkboxes1-selected1-enab1 {
    top: 46.17%;
    bottom: 47.49%;
  }
  .edit1,
  .icon {
    position: relative;
    display: none;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .edit1 {
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .containedb-texticondragged,
  .edit {
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
      var(--padding-7xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .containedb-texticondragged {
    position: absolute;
    height: 116.26%;
    width: 88.76%;
    top: -8.13%;
    right: 11.24%;
    bottom: -8.13%;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--primary-500);
    box-shadow: var(--dp);
    padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
      var(--padding-5xs);
    box-sizing: border-box;
  }
  .button,
  .edit2 {
    position: absolute;
  }
  .edit2 {
    top: 21.32%;
    left: 24.72%;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .button {
    height: 9.5%;
    width: 6.95%;
    top: 45.38%;
    right: 12.97%;
    bottom: 45.12%;
    left: 80.08%;
    font-size: var(--button-size);
    color: var(--on-primary-high-emphasis);
    font-family: var(--button);
  }
  .containedb-texticondragged1,
  .edit3 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .edit3 {
    display: none;
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
      var(--padding-7xs);
  }
  .containedb-texticondragged1 {
    position: absolute;
    height: 100%;
    width: 88.76%;
    top: 0;
    right: 11.24%;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--orange);
    box-shadow: var(--dp);
    display: flex;
    padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
      var(--padding-5xs);
    box-sizing: border-box;
  }
  .edit5 {
    position: absolute;
    top: 21.32%;
    left: 24.72%;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: none;
  }
  .component-6 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .submit-order {
    position: absolute;
    top: 21.32%;
    left: 11.83%;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .button1 {
    position: absolute;
    height: 9.5%;
    width: 13.2%;
    top: 68.87%;
    right: 2.97%;
    bottom: 21.64%;
    left: 83.83%;
    font-size: var(--button-size);
    color: var(--on-primary-high-emphasis);
    font-family: var(--button);
  }
  .containedb-texticondragged2 {
    position: absolute;
    height: 100%;
    width: 88.76%;
    top: 0;
    right: 11.24%;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--primary-500);
    box-shadow: var(--dp);
    display: flex;
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
      var(--padding-5xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .component-4,
  .component-5 {
    position: absolute;
    height: 9.5%;
    width: 3.44%;
    top: 44.59%;
    right: 45.31%;
    bottom: 45.91%;
    left: 51.25%;
    font-size: var(--button-size);
    color: var(--on-primary-high-emphasis);
    font-family: var(--button);
  }
  .component-5 {
    width: 2.81%;
    right: 34.3%;
    left: 62.89%;
  }
  .containedb-texticondragged4 {
    position: absolute;
    height: 116.26%;
    width: 88.76%;
    top: -8.13%;
    right: 11.24%;
    bottom: -8.13%;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--red);
    box-shadow: var(--dp);
    display: flex;
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
      var(--padding-5xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .carts-inner,
  .component-3 {
    position: absolute;
    top: 45.38%;
  }
  .component-3 {
    height: 9.5%;
    width: 8.75%;
    right: 2.97%;
    bottom: 45.12%;
    left: 88.28%;
    font-size: var(--button-size);
    color: var(--on-primary-high-emphasis);
    font-family: var(--button);
  }
  .carts-inner {
    height: 7.12%;
    width: 6.09%;
    right: 37.97%;
    bottom: 47.49%;
    left: 55.94%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .div3 {
    position: absolute;
    height: 6.33%;
    width: 0.78%;
    top: 45.91%;
    left: 58.59%;
    display: inline-block;
  }
  .image-5-icon {
    position: absolute;
    height: 17.18%;
    width: 6.54%;
    top: 40.8%;
    right: 79.62%;
    bottom: 42.02%;
    left: 13.85%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .carts1 {
    position: absolute;
    top: 160px;
    left: 24px;
    width: 1300px;
    height: 326px;
    font-size: var(--font-size-xl);
  }
  .carts-body {
    position: relative;
    background-color: var(--on-primary-high-emphasis);
    width: 100%;
    height: 646px;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  

  

  .footer-child {
    position: absolute;
    top: 226px;
    left: 0;
    width: 1320px;
    height: 74px;
  }
  .cybersoft-all-rights {
    margin: 0;
  }
  .cybersoft-all-rights-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .cybersoft-all-rights-container {
    position: absolute;
    top: 263px;
    left: 14px;
    display: flex;
    align-items: center;
    width: 1280px;
    height: 37px;
  }
  .get-help,
  .menu {
    position: absolute;
  }
  .menu {
    top: 0;
    left: 0;
    background-color: var(--on-primary-high-emphasis);
    width: 1320px;
    height: 226px;
  }
  .get-help {
    top: 28px;
    left: 13px;
    display: inline-block;
    width: 180px;
    height: 29px;
  }
  .about {
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  .home-nike-adidas-container {
    position: absolute;
    top: 63px;
    left: 56px;
    font-size: var(--font-size-base);
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 180px;
    height: 102px;
  }
  .menu-footer-child {
    position: absolute;
    top: 27.5px;
    left: 364.5px;
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1px;
    height: 168px;
  }
  .menu-footer,
  .menu-footer1 {
    position: absolute;
    top: 25px;
    left: 481px;
    background-color: var(--on-primary-high-emphasis);
    width: 443px;
    height: 175px;
    overflow: hidden;
  }
  .menu-footer1 {
    left: 105px;
    width: 414px;
  }
  .menu-footer-inner {
    position: absolute;
    top: 27.5px;
    left: 364.5px;
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1px;
    height: 168px;
    display: none;
  }
  .menu-footer2 {
    position: absolute;
    top: 25px;
    left: 895px;
    background-color: var(--on-primary-high-emphasis);
    width: 414px;
    height: 175px;
    overflow: hidden;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  